
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Game Review Napier</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body style="background-color: #222222">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" id="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" id="topButtons">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>++
                </button>
                    <!--Default Button-->
                @Html.ActionLink("GRN Game Reviews", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <!--Check if user logged in show only Logout button-->
                @if (Request.IsAuthenticated)
                {
                    <!--The Users Email Address-->
                    @Html.ActionLink(@Html.Encode(User.Identity.Name), "Overview", "Accounts", new { email = @Html.Encode(User.Identity.Name) }, new { @class = "navbar-brand" })

                    <!--Logout Button-->
                    @Html.ActionLink("Logout", "Logout", "Accounts", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    <!--Login Button-->
                    @Html.ActionLink("Login", "Login", "Accounts", new { area = "" }, new { @class = "navbar-brand" })
                    <!--Register Button-->
                    @Html.ActionLink("Register Account", "Register", "Accounts", new { area = "" }, new { @class = "navbar-brand" })

                }
                <!--Search bar-->
                <div class="navbar-brand" style="padding-left: 3em;">
                    @using (Html.BeginForm("SearchGame", "Home"))
                   {
                        @Html.TextBox("game")
                    }
                </div>
            </div>
        </div>
    </div>   
    <div class="container body-content" id="wrapper">
        <div id="contentPane">
           <h4>@RenderBody()</h4>
            <hr />
        </div>
        <div id="sidebar">
            <!--Diferent types of genres-->
            <h3>Genres</h3>
            <li>
                @Html.ActionLink("Action", "Genres", "Home", new { genre = "Action" }, new { })
            </li>
            <li>
                @Html.ActionLink("Adventure", "Genres", "Home", new { genre = "Adventure" }, new { })
            </li>
            <li>
                @Html.ActionLink("Fighting", "Genres", "Home", new { genre = "Fighting" }, new { })
            </li>
            <li>
                @Html.ActionLink("Racing", "Genres", "Home", new { genre = "Racing" }, new { })
            </li>
            <li>
                @Html.ActionLink("RPG", "Genres", "Home", new { genre = "RPG" }, new { })
            </li>
            <li>
                @Html.ActionLink("Sport", "Genres", "Home", new { genre = "Sport" }, new { })
            </li>
            <li>
                @Html.ActionLink("Strategy", "Genres", "Home", new { genre = "Strategy"}, new { })
            </li>
            <li>
                @Html.ActionLink("Shooter", "Genres", "Home", new { genre = "Shooter" }, new { })
            </li>
            <!--this is the editors choices (our top 10 games)-->
        </div>
        <div id="sidebar">
            <!--Diferent types of Platforms-->
            <h3>Platform</h3>
            <li>
                @Html.ActionLink("Xbox", "Platform", "Home", new { platform = "Xbox" }, new { })
            </li>
            <li>
                @Html.ActionLink("Playstation", "Platform", "Home", new { platform = "Playstation" }, new { })
            </li>
            <li>
                @Html.ActionLink("Nintendo", "Platform", "Home", new { platform = "Nintendo" }, new { })
            </li>
            <li>
                @Html.ActionLink("PC", "Platform", "Home", new { platform = "PC" }, new { })
            </li>
            </div>
            <div id="footer">
                <footer>
                    <p>&copy; @DateTime.Now.Year - Copyright GRN Game Reviews</p>
                </footer>
            </div>
        </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>