<!--Using the accounts model-->
@model GameReviewWebPortal_SOC09109.Models.Account

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Check the user is correct-->
@if (@Html.Encode(User.Identity.Name) == Model.User_E_Address && Request.IsAuthenticated && Model.Admin_Check == true)
{
    <h1>Admin Controls</h1>
    <hr>
    <!--link to allow you to go to manage all of the game sin the database-->
    <h2>@Html.ActionLink("Game Management", "Index", "Games", new { email = @Html.Encode(User.Identity.Name) }, new { })</h2>
    <hr>
    <!--link to allow you to go to view all accounts and manage them-->
    <h2>@Html.ActionLink("Account Management", "Index", "Accounts", new { email = @Html.Encode(User.Identity.Name) }, new { })</h2>
}
else
{
    <h1>Admin only page.</h1>
}


