@model GameReviewWebPortal_SOC09109.Models.Account

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Account</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AccountID)

        <!--Firstname Field-->
        <div class="form-group">
            @Html.LabelFor(model => model.User_Forename, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User_Forename, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User_Forename, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--Surname Field-->
        <div class="form-group">
            @Html.LabelFor(model => model.User_Surname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User_Surname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User_Surname, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--Email Address Field-->
        <div class="form-group">
            @Html.LabelFor(model => model.User_E_Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User_E_Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User_E_Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--Password Field-->
        <div class="form-group">
            @Html.LabelFor(model => model.User_Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User_Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User_Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--If admin then allow check and unchecking of admin-->
        @if (Model.Admin_Check == true)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Admin_Check, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Admin_Check)
                        @Html.ValidationMessageFor(model => model.Admin_Check, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }

        <!--Save Button-->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>

    <!--Check if user is an admin and return to correct place-->
    @if (Model.Admin_Check == true)
    {
        @Html.ActionLink("Back to List", "Index", new { email = @Html.Encode(User.Identity.Name) })
    }
    else
    {
        @Html.ActionLink("Back to Overview", "Overview", new { email = @Html.Encode(User.Identity.Name) })
    }

</div>
