<!--Admin Page (Index)-->
@model IEnumerable<GameReviewWebPortal_SOC09109.Models.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_Forename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_E_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin_Check)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User_Forename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_E_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin_Check)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.AccountID }) |
            @Html.ActionLink("Details", "Details", new { id = item.AccountID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AccountID })
        </td>
    </tr>
}

</table>