<!--Using the accounts model-->
@model GameReviewWebPortal_SOC09109.Models.Account

@{
    ViewBag.Title = "GRN Account Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Check the user is correct-->
@if (@Html.Encode(User.Identity.Name) == Model.User_E_Address && Request.IsAuthenticated)
{e

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User_Forename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Forename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_E_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_E_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin_Check)
        </dt>

    </dl>

</div>
<p>  
    @Html.ActionLink("Edit Your Profile", "Edit", new { id = Model.AccountID })

</p>

<p> 

<!--Check if user is an admin for access to admin page-->
@if (Model.Admin_Check == true)
{
    @Html.ActionLink("Go to Admin Page", "Admin", "Accounts", new { AdminEmail = @Html.Encode(User.Identity.Name) }, new { @class = "navbar-brand" })
}</p>

}