<!--Using the accounts model-->
@model GameReviewWebPortal_SOC09109.Models.Account

@{
    ViewBag.Title = "GRN Account Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Check the user is correct-->
@if (@Html.Encode(User.Identity.Name) == Model.User_E_Address && Request.IsAuthenticated)
{

<div>
    <h2>Account</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User_Forename)
        </dt>

        <dd>
            <h5>@Html.DisplayFor(model => model.User_Forename)</h5>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Surname)
        </dt>

        <dd>
            <h5>@Html.DisplayFor(model => model.User_Surname)</h5>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_E_Address)
        </dt>

        <dd>
            <h5>@Html.DisplayFor(model => model.User_E_Address)</h5>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Password)
        </dt>

        <dd>
            <h5>@Html.DisplayFor(model => model.User_Password)</h5>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin_Check)
        </dt>

        <dd>
            <!--Check if user is an admin for access to admin page-->
            @if (Model.Admin_Check == true)
            {
                @Html.ActionLink("Go to Admin Page", "Admin", "Accounts", new { AdminEmail = @Html.Encode(User.Identity.Name) }, new { @class = "navbar-brand" })
            }
        </dd>
    </dl>

</div>
<p>  
    <br />
    @Html.ActionLink("Edit Your Profile", "Edit", new { id = Model.AccountID })

</p>


}