<!--Using the accounts model-->
@model GameReviewWebPortal_SOC09109.Models.Account

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Begin the Login Form-->
@using (Html.BeginForm())
{
    <!--Login Validation Text-->
    @Html.ValidationSummary(true, "Account Creation Failed.")
    <div>
        <fieldset>
            <legend><h2>Create New Account</h2></legend>

            <!--first Name Label and Text Box-->
            <div>@Html.LabelFor(u => u.User_Forename)</div>
            <div>
                @Html.TextBoxFor(u => u.User_Forename)
                @Html.ValidationMessageFor(u => u.User_Forename)
            </div>
            <br />

            <!--Surame Label and Text Box-->
            <div>@Html.LabelFor(u => u.User_Surname)</div>
            <div>
                @Html.TextBoxFor(u => u.User_Surname)
                @Html.ValidationMessageFor(u => u.User_Surname)
            </div>
            <br />

            <!--Email Address Label and Text Box-->
            <div>@Html.LabelFor(u => u.User_E_Address)</div>
            <div>
                @Html.TextBoxFor(u => u.User_E_Address)
            @Html.ValidationMessageFor(u => u.User_E_Address)
        </div>
        <br />

        <!--Password Label and Text Box-->
        <div>@Html.LabelFor(u => u.User_Password)</div>
        <div>
            @Html.TextBoxFor(u => u.User_Password)
            @Html.ValidationMessageFor(u => u.User_Password)
        </div>
            <!--creates a small space between password and the register button-->
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;<!--dont worry meant to be colour red-->       
        <!-- Submit button-->
        <input type="submit" value="Register" />
    </fieldset>
</div>
}

